
fieldset{
    padding: 2.5rem; 
    border: 2px solid var(--body-text-color);
    border-radius: 0.5rem;
    margin-top: 2rem;
}

label{   
    font-family: var(--heading-secondary-fontFamily);
    color: var(--heading-primary-color);
}

input[type=Text], input[type=Number], select, input[type="file"]::file-selector-button{
    font-family: var(--heading-primary-fontFamily);
    color: var(--body-text-color);
    margin: 1rem;
    border-radius: 5px;
    border: 2px solid var(--heading-secondary-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

input[type="file"]:hover, input[type="file"]::file-selector-button:hover{ 
    cursor: pointer;
}

.btn-Primary{
    background-color: var(--heading-primary-color);
}

.btn-Cancel{
    background-color: #C00F0C;
    
}

.btn-group{
    width: 55%;
}

.title-group{
    width: 100%;
}

.item1 {
    grid-column: 1;
}

.item2 {
    grid-column: 2;
}


.item1, .item2, div{
    margin: auto;
}

.title-group, .btn-group{

    display: grid;
    padding-top: 2rem;
    gap: 10px;
    
}

.btn-Primary, .btn-Cancel{
    border: none;
    color:#fff;
}
